body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.container {
    max-width: 320px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

/* -------------- HEADER ----------------- */

.header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav {
    display: flex;
    align-items: center;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    margin-right: 76px;
}

.header-logo span {
    color: #2e2f42;
}

.header-list {
    display: none;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}

.header-item {}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link.current {
    position: relative;

}

.header-item-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header-item-link:hover,
.header-item-link:focus,
.contacts-item-link:hover,
.contacts-item-link:focus,
.header-item-link.current {
    color: #404bbf;

}

.header-contacts {
    font-style: normal
}

.contacts-list {
    display: none;
    gap: 40px;
}

.contacts-item {}

.contacts-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn {
    display: flex;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: transparent;
}

.menu-btn-svg {
    fill: #2f2f37;
}

.header-menu-btn:hover .menu-btn-svg,
.header-menu-btn:focus .menu-btn-svg {
    fill: #404BBF;
}

/* --------MODAL-MENU ---------- */

.mob-menu {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 24px 24px 40px 16px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.close-menu-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(231, 233, 252, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover,
.close-menu-btn:focus {
    border: none;
    background-color: #404BBF;
}

.close-menu-btn-svg {
    fill: #2e2f42;
}

.close-menu-btn:hover .close-menu-btn-svg,
.close-menu-btn:focus .close-menu-btn-svg {
    fill: #fff;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mob-nav-item {}

.mob-nav-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-item-link:hover,
.mob-nav-item-link:focus,
.mob-contacts-item-link:hover,
.mob-contacts-item-link:focus,
.mob-nav-item-link.current {
    color: #404bbf;
}

.mob-contacts {
    margin-bottom: 48px;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts-item {}

.mob-contacts-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mob-link-item {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mob-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover,
.mob-link:focus {
    background-color: #404BBF;
}

.team-link-svg {
    fill: #f4f4fd
}

/* -------------- HERO-SECTION ----------------- */

.hero-section {
    background-size: cover;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-mb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 72px 0;
    margin: 0 auto;
    max-width: 1440px;

    @media screen and (min-resolution: 2x),
    (-webkit-device-pixel-ratio: 2x) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-mb-2x.jpg);
    }

}

.hero-title {
    max-width: 216px;
    margin: 0 auto;
}

.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* -------------- ABOUT-SECTION ----------------- */


.about-section {}

.about {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

.about-item {
    width: 100%;
}

.about-item-img {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.item-subtitle {
    margin-bottom: 8px;
}

.item-text {}



/* -------------- TEAM-SECTION ----------------- */

.team-section {
    background-color: #f4f4fd;
}

.team-container {
    padding-left: 28px;
    padding-right: 28px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.team-img {
    display: block;
    width: 264px;
    height: 260px;
}

.team-info {
    padding: 32px 0;

}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}



.team-link-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-link-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

.team-link-svg {
    fill: #f4f4fd
}

/* -------------- PORTFOLIO-SECTION ----------------- */


.portf-section {}

.portf-title {
    height: 40px;
    margin-bottom: 72px;
}

.portf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

}

.portf-item {
    position: relative;
    width: 100%;
    /* width: calc((100% - 2*24px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item:hover,
.portf-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portf-img {
    display: block;
    width: 100%;
    height: auto;

}

.portf-discr {
    position: relative;
    overflow: hidden;
}

.discr-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item:hover .discr-text,
.portf-item:focus .discr-text {
    transform: translateY(0);
}

.portf-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.portf-subtitle {
    margin-bottom: 8px;
}

.portf-text {}

/* -------------- FOOTER ----------------- */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    /* padding: 100px 0; */

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 72px;
}

.footer-container-logo {}

.footer-logo {
    display: block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo .active {

    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}





.footer-container-link {}

.footer-title {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-link-list {
    display: flex;
    gap: 16px;
}

.footer-link-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-link-svg {
    fill: #f4f4fd;
}

.footer-container-email {}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 24px; */
    gap: 16px;
}

.footer-form-label {}

.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;

    height: 40px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer-form-input::placeholder {
    color: #fff;
    opacity: 1;
}

.footer-form-input:focus {
    opacity: 1;
}


.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    min-width: 165px;
    border: none;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background: #404bbf;
}

.footer-form-svg {

    margin-left: 16px;
    fill: #fff;
}



/* -------------- MODAL ----------------- */

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    background: #fcfcfc;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 72px 24px 24px;
    width: 288px;
    min-height: 623px;
    overflow-y: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    border: none;
    background-color: #404BBF;
}

.modal-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-close,
.modal-btn-close:focus .modal-close {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-box {
    position: relative;
}

.modal-input {
    padding-left: 38px;
    padding-right: 8px;
    height: 40px;
}


.modal-element {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: #4D5AE5;
}


.modal-input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-svg {
    fill: #4D5AE5;
}

.modal-field-checkbox {
    display: flex;
    margin-bottom: 24px;
}

.modal-checkbox {}

.modal-label-checkbox {
    display: inline-block;
    align-self: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}



.modal-checkbox:checked+.modal-label-checkbox>.modal-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}



.modal-label-checkbox .modal-checkbox-link {

    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-btn-sbm {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 56px;
}

.modal-btn-sbm:hover,
.modal-btn-sbm:focus {
    background: #404bbf;
}


/* -------------- MEDIA ----------------- */
@media screen and (max-width: 767px) {

    /* -- ABOUT-SECTION -- */

    .item-subtitle {
        text-align: center;
    }





    /* -- FOOTER-SECTION -- */



}

@media screen and (max-width: 1157px) {

    /* -- ABOUT-SECTION -- */

    .item-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;

    }

    .item-text {
        font-weight: 500;
    }





    /* -- FOOTER-SECTION -- */

    .footer-form-input {
        opacity: 0.3;
    }


}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }


    /* --------HEADER-------- */
    .header-nav {
        margin-right: 122px;
    }

    .header-list {
        display: flex;

    }

    .contacts-list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .contacts-item-link {
        padding: 0;
    }

    .header-menu-btn {
        display: none;
    }

    /* -------------- HERO-SECTION ----------------- */
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tb.jpg);
        padding: 112px 0;

        @media screen and (min-resolution: 2x),
        (-webkit-device-pixel-ratio: 2x) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tb-2x.jpg);
        }
    }

    h1 {
        font-size: 56px;
        line-height: 1.07;
    }

    .hero-title {
        max-width: 496px;
    }

    .btn {
        margin-top: 36px;
    }

    /* -------------- ABOUT-SECTION ----------------- */

    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .about-item {
        width: calc((100% - 1*24px) / 2);
    }

    /* -------------- TEAM-SECTION ----------------- */


    .team-container {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list {
        gap: 64px 24px;

    }


    .team-item {
        width: calc((100% - 1*24px) / 2);
    }

    /* -------------- PORTFOLIO-SECTION ----------------- */
    .portf-list {
        gap: 72px 24px;
    }

    .portf-item {
        width: calc((100% - 1*24px) / 2);
    }

    /* -------- FOOTER --------- */

    .footer-container {
        justify-content: normal;
        gap: 0;


    }

    .footer-container-logo {
        margin-right: 24px;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-title {
        text-align: start;

    }

    .footer-form-input {
        width: 264px;
    }

    /* -------------- MODAL ----------------- */


    .modal {

        width: 408px;
        min-height: 584px;

    }


}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .section {
        padding: 120px 0;
    }

    .contacts-list {

        gap: 40px;

    }

    .contacts-item-link {
        padding: 24px 0;
    }

    /* -------------- HERO-SECTION ----------------- */
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg.jpg);
        padding: 188px 0;

        @media screen and (min-resolution: 2x),
        (-webkit-device-pixel-ratio: 2x) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-2x.jpg);
        }
    }


    .btn {
        margin-top: 48px;
    }


    /* -------------- ABOUT-SECTION ----------------- */

    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;

    }

    .about-item {
        width: calc((100% - 3*24px) / 4);
    }

    .about-item-img {
        display: flex;
    }

    /* -------------- TEAM-SECTION ----------------- */
    .team-list {
        gap: 24px;

    }


    .team-item {
        width: calc((100% - 3*24px) / 4);
    }


    /* -------------- PORTFOLIO-SECTION ----------------- */
    .portf-list {
        gap: 48px 24px;
    }

    .portf-item {
        width: calc((100% - 48px) / 3);
        flex-shrink: 0;
    }

    /* -------- FOOTER --------- */
    .footer {
        padding: 100px 0;
    }

    .footer-container {}

    .footer-container-logo {
        margin-right: 120px;
    }

    .footer-logo {}

    .footer-text {}

    .footer-container-link {
        margin-right: 80px;
    }

    .footer-title {}



}

@media screen and (min-width: 768px) and (max-width: 1157px) {


    .contacts-item-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

    }

    /* -- FOOTER-SECTION -- */
    .footer-container {
        padding-left: 108px;
    }

    .footer-container-logo {
        margin-bottom: 72px;
    }


}